.nav{
    margin-bottom: 100px;
}

.listItem{
    display: flex;
    border-bottom: 3px solid #e4e4e4;
    padding: 10px;
    text-decoration: none;
    align-items: center;
}

.listItem img{
    image-rendering: pixelated; 
}

.listItem >:first-child{
    margin-right: 15px;
    width: 50px;
}

.listItem >:last-child{
    margin: 0;
}

.listenItemIcon{
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.listItemText{
    flex-grow: 2;
}

.listItemText >:first-child{
    color: rgb(47, 47, 47);
    font-size: 1rem;
    display: block;
    margin-bottom: 11px;
    font-weight: bold;
}

.listItemText >:last-child{
    color: grey;
    font-weight: bolder;
    font-size: 0.8rem;
    display: block;
}

@media (min-width: 768px) {

    .listItem >:first-child{
        margin-right: 15px;
        width: 70px;
    }

    .app main{
        padding: 5px;
    }
}


@media (min-width: 1200px) {
    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
       justify-content: center;  
    }

    .listItem{
        margin: 20px;
        width: calc(100% / 4);
        background-color: aliceblue;
        border: 3px solid #e4e4e4;
    }
    .listItem:hover {
        background-color: rgb(254, 72, 72);
        color: #fff;
        border: 3px solid #000000;
    }
    
    .listItem:hover .listItemText span{
        color: #fff;
    }
    
    .listItemText{
        text-align: center;
    }

    .listItemText >:first-child{
        font-size: 1.2rem;
    }

    .listItemText >:last-child{
        font-size: 1rem;
    }
}