/* loadingScreen.module.css */

.loadingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg-gradient);
}

.loadingScreenIcon {
    margin-bottom: 30px;
    width: 30%;
    height: 30%;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.loading {
    font-size: 24px; /* Adjust font size as needed */
    position: relative;
}

.loading::after {
    content: 'Loading.';
    animation: loadingAnimation 2s infinite; /* Adjust animation duration as needed */
}

@keyframes loadingAnimation {
    0% { content: 'Loading.'; }
    25% { content: 'Loading..'; }
    50% { content: 'Loading...'; }
    75% { content: 'Loading....'; }
    100% { content: 'Loading.'; }
}

.loadingScreenIcon {
    width: 100px; 
    height: 100px;
    animation: spin 2s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loaded {
    display: block; /* Show the image when loaded */
}
